.card-container {
    margin: 8px;
    width: 250px;
    border: solid 1px lightgray;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.card-container:hover {
    cursor: pointer;
    border: solid 1px #9DA993;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 225px;
    max-height: 300px;
}


h3, p {
    margin: 0px;
    padding: 0px;
}

.card-button {
    min-width: 30%;
    padding: 8px 10px;
}

.card-btns-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pinned {
    z-index: -1;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
}

.pinned.show {
    z-index: 1;
}

.card-container:hover .pinned {
    z-index: 1;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author-text {
    flex-grow: 1;
}

.title-text {
    max-width: 75%;
}